<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
        .container {
      width: 80%;
      margin: 15px auto;
    }
    </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
<script>
{{outstring_start | safe}}

{{outstring | safe}}

// var dataset = [{
//       label: 'apples',
//       data: [12, 19, 3, 17, 28, 24, 7],
//       backgroundColor: "rgba(153,255,51,1)"
//     }, {
//       label: 'oranges',
//       data: [30, 29, 5, 5, 20, 3, 10],
//       backgroundColor: "rgba(255,153,0,1)"
//     },
//     {
//       label: 'bananas',
//       data: [30, 29, 5, 5, 20, 3, 10],
//       backgroundColor: "rgba(100,153,0,1)"
//     },]

</script>


</head>

  <body>
          <div class="container">

            <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
      </div>

      <div class="container">
<div class="row">
<div class="col-md-8">
<div class="container" id="graph-container">
  <h2>Chart.js — Bar Chart Demo</h2>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>
</div>

<div class="col-md-4">.col-md-4</div>
</div>
</div>

<div id="checkboxes"></div>
<div><table>
{{table | safe}}
</table></div>
<input id = "btnUpdate" type="submit" value="Update"/>

    <script src="/static/assets/js/jquery-1.8.3.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/charting.js"></script>

  </body>
</html>