<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/basic_chart.css">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../">{{username | safe}}'s account</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <!--  <h2 class="sub-header">Where AM III?</h2>-->
          <!--<ul class="nav nav-sidebar">-->

          <!--  <li class="active"><a href=../{{sanitized_file}}>{{sanitized_file}} <span class="sr-only">(current)</span></a></li>-->
          <!--  {%for subject in subjects%}-->
          <!--  <li><a href=./{{subject}}>{{subject.replace("_", " ").title()}}</a></li>-->
          <!--  {% endfor %}-->
          <!--</ul>-->

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
         <div class="row">
          <h2 class="sub-header">Uploaded Files</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Students</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody>
                {% for upload in uploads %}
                <tr>
                  <td><a href=/chart/{{ upload.FILENAME }}>{{ upload.FILENAME }}</a></td>
                  <td>{{ upload.STUCOUNT }}</td>
                  <td>{{ upload.CREATED }}</td>
                  <td><a href=/chart/{{ upload.FILENAME }} type="button" class="btn btn-default" title="Table">
                     <span class="glyphicon glyphicon-align-left"></span>
                    </a>
                    <a href=/test/{{ upload.FILENAME }} type="button" class="btn btn-default" title="Chart">
                     <span class="glyphicon glyphicon-object-align-bottom" ></span>
                    </a>
                    <a href=/test/{{ upload.FILENAME }} type="button" class="btn btn-default" title="Download Report">
                     <span class="glyphicon glyphicon-file" ></span>
                    </a></td>

                </tr>
            {% endfor %}

              </tbody>
            </table>
          </div>
         </div>
         <div class="row">
            <!--<div class="container">-->
                <div class="header">
                <h2 class="sub-header">Upload Files</h2>
                    <h3 class="text-muted">How To Upload a File</h3>
                </div>

                <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file"><br /><br />
                    <input type="submit" value="Upload">
                </form>

            <!--</div>-->
         </div>


        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery-1.8.3.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>


